body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#containerA {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

#btn {
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  background-color: rgb(60, 172, 144);
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  max-width: 90vw;

}


#dadContainer {
  width: 100%;
  
  display: flex;
}

#texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#text1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#text2 {
  margin-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#firstPerson {
  width: 98%;
 
  padding: 10px;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 3px rgb(224, 224, 224);
}
#childeContainerA {
  width: 100%;
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 3px rgb(253, 248, 248);
}

#childeContainerB {
  width: 30%;
  margin-left: 5PX;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 3px rgb(224, 224, 224);
}

#pic {
  margin-left: 60px;
  border-radius: 50%;
}

#friendsTitle {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
#friends{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#textKeny{
    font-family: 'Patrick Hand', cursive;
    padding-left: 20px;
    
}
#textFavorite{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 20px;
    
}
#containerPokemon{
 width: 100%; 
display: flex;
align-items: center;
padding-top: 50px;
font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
}

#imgPokemon{
width: 130px;

}
#line{
   border-top: 2px solid black;
   width: 50%;
   margin: 20px 0;
}
#aboutTitle{
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  padding-left: 20px;

}
#textAbout{

  padding-left:20px;
  padding-bottom: 20px;
  font-size: 20px;
   font-family:Arial, Helvetica, sans-serif;

}